.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
    /* height: 80px; */
    position: relative;
}

.logo {
    flex: 1;
}

.logo a {
    display: block;
    color: inherit;
    cursor: pointer;
}

.menu-icon {
    display: block;
    background-color: transparent;
    border: none;
}

.menu-icon img {
    width: 34px;
    height: 34px;
}

.nav-links {
    display: none;   
    flex-direction: column;
    position: absolute;
    top: 66px;
    right: 0;
    width: 100%;
    padding: 16px;
    gap: 16px;
    border: 1px solid var(--light-color);
    background: var(--white-color);
}

.nav-links.show {
    display: flex;
}

.nav-links li a{
    font-size: var(--fontSize-md);
    font-weight: var(--fontWeight-semibold);
    font-size: var(--fontSize-lg);
    color: inherit;
    margin: 0 12px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--primary-color);
}


@media(min-width: 768px) {
    .logo {
        flex: 1;
        font-size: var(--fontSize-xxl);
    }

    .menu-icon {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        border: none;
        gap: 24px;
        background-color: transparent;
        width: auto;
        padding: 0;
    }

    .nav-links li a.active {
        color: var(--primary-color);
    }
}


